@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700|Open+Sans:600|Montserrat:400,700|Lato:400,700,900|Libre+Baskerville:400,700,400italic|);

html, body, .portfolio-slide, .bg {
  width:100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*NAVBURGER*/
/*---------*/

#nav-burger {
  top: 25px;
  right: 15px;
  width: 35px;
  height: 28px;
}

#nav-burger {
  position: fixed;
  display: block;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.portfolio-slide.modify #nav-burger {
  z-index: 1000;
}

.portfolio-slide.modify #nav-burger span {
  background: #444;
}

#nav-burger:hover span {
  background-color: #ff3264 !important;
}

#nav-burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background: #fff;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-burger span:nth-child(1) {
  top: 0px;
}

#nav-burger span:nth-child(2),
#nav-burger span:nth-child(3) {
  top: 10px;
}

#nav-burger span:nth-child(4) {
  top: 20px;
}

#nav-burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* MENU */

#menu-overlay {
  position: fixed;
  visibility: hidden;
  top: 20%;
  width: 20%;
  height: 50%;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

#menu-overlay.menu-show {
  visibility: visible;
  z-index: 100;
  opacity: 1;
  -moz-transition: opacity 1s, visibility 1.3s;
  -webkit-transition: opacity 1s, visibility 1.3s;
  -o-transition: opacity 1s, visibility 1.3s;
  transition: opacity 1s, visibility 1.3s;
}

ul.menu-click {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 20%;
  /*padding-right: 5%;*/
}

.menu-click .sections {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Montserrat';
  padding: 5px 0;
  margin: 10px;
  border-style: solid;
  display: block;
  text-transform: uppercase;
  width:80%;
}

.menu-click li a {
  color:#fff;
}

/*.menu-click li a {
  font-weight: 400;
  border-style: solid;
  color: #fff;
  font-size: 20px;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}*/

.menu-click li a:hover {
  color: #ff3264;
  text-decoration: none !important;
}



/* BACKGROUND (PICTURE) */
/*----------------*/
/*.bg {*/
  /*position: absolute;*/
  /*margin: 0 auto;*/
  /*height: 100%;*/
  /*width: 100%;*/
/*}*/

/*RESPONSIVE Background Applied Here*/
.bg-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/bg-lrg_small.jpg") no-repeat left top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  z-index: 1000;
  margin: 0 auto;
  padding: 9em 1.25em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.portfolio-wrapper .content .title h1 {
  letter-spacing: 30px;
  color: #fff;
  font-weight: 800;
  font-size: 3.25em;
  font-family: 'Lato';
  line-height: .2em;
  text-transform: uppercase;
  padding-bottom: .5em;
}
.modify .content .title h1 {
  color: #555;
}

.portfolio-wrapper .content .title h2 {
  padding-left: 200px;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: relative;
  padding-bottom:.7em;
  color: #fff;
  font-family: 'Lato';
  line-height: .2em;
}
.modify .content .title h2 {
  color: #555;
}

.job-desc {
  font-weight: 700;
  /*padding-top: .1em;*/
  /*top: -.7em;*/
  /*text-align: center;*/
}

.title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em;
  margin: 0 auto;
}

.title p.subline {
  font-size: 20px;
  font-style: italic;
}

/* BUTTON - TRIGGER EVENT */
/*------------------------*/

button.trigger {
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -75px;
  width: 150px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.portfolio-slide:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.portfolio-slide.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

button.trigger:focus {
  outline: none;
}

/* CONTENT Div */
/*-------------*/

.content {
  margin: 0 auto;
  padding: 0 0 3em;
  z-index: 1;
}
/*Overwriting Bootstrap container class*/
.container {
  margin-left: 0;
  margin-right: 0;
  width:90%;
  padding: 50px 0;
}

/*Sets width and padding for divs in section*/
.content > div:not(.title) {
  /*margin: -80px auto 0;*/
  max-width: 100%;
  /*padding: 0 1.25em;*/
}

/*
.content > div:not(.title) p {
  margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
  font-size: 1.35em;
}
*/
/*.content h3 {
  margin: 0;
  font-size: 1.4em;
}*/
/*
.content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: 'Lora', serif;
  line-height: 1.4;
}*/



/* PORTFOLIO SLIDE-OUT */
/*---------------------*/
.portfolio-slide:not(.notrans) .bg-img::before {
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.portfolio-slide:not(.notrans) .bg-img::after {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.portfolio-slide:not(.notrans) .title p {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.portfolio-slide:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.portfolio-slide:not(.notrans) .bg-img::before,
.portfolio-slide:not(.notrans) .bg-img::after,
.portfolio-slide:not(.notrans) .title p,
.portfolio-slide:not(.notrans) .content > div {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.portfolio-slide .bg {
  position: absolute;
}

.portfolio-slide .bg-img {
  position: fixed;
}

.portfolio-slide .bg-img::before,
.portfolio-slide .bg-img::after {
  content: '';
  position: absolute;
  z-index: 100;
}

.portfolio-slide .bg-img::after {
  background: #fff;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.portfolio-slide.modify .bg-img::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*OPAQUE BG-OVERLAY*/
/*------------------*/
.portfolio-slide .bg-img::before {
  width: 100%;
  height: 100%;
  background-color: rgba(79,77,77,0.44);
}

.portfolio-slide.modify .bg-img::before {
  background-color: rgba(40, 44, 47, 0.9);
}

.portfolio-slide a {
  color: #f68f6c;
}

.portfolio-slide .title {
  position: fixed;
  top: auto;
  left: auto;
  text-align: left;
  -webkit-transform: translateY(300px);
  transform: translateY(300px);
}

.portfolio-slide.modify .title {
  padding-bottom: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.portfolio-slide.modify .title h1, .portfolio-slide.modify .title h2 {
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.portfolio-slide.modify .title h2 {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

.portfolio-slide.modify h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 10px;
  font-style: 'Libre Baskerville';
  text-transform: uppercase;
  /*opacity: 0;*/
  /*color: #585a66;*/
}

.portfolio-slide .title p {
  opacity: 0;
  color: #585a66;
}

.portfolio-slide.modify .title p {
  opacity: 1;
}

.portfolio-slide .content {
  width: 80%;
  margin-left: 20%;
  padding: 0 2.5em;
}

.portfolio-slide .content div {
  position: relative;
  /*Playing havoc with too many things? eg. skills?*/
  /*margin: 10px 0;*/
  /*width: 100%;*/
  color: #77726b;
}

.portfolio-slide .content div:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
}

.portfolio-slide.modify .content div:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* TRANSITION DELAYS */
/*-------------------*/
.portfolio-slide:not(.notrans) .title,
.portfolio-slide:not(.notrans) .bg-img::before,
.portfolio-slide:not(.notrans) .bg-img::after {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.portfolio-slide.modify:not(.notrans) .title,
.portfolio-slide.modify:not(.notrans) .bg-img::before,
.portfolio-slide.modify:not(.notrans) .bg-img::after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.portfolio-slide.modify:not(.notrans) .content div:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/*SECTION CSS*/
/*-----------*/

/*.about p {
 font-style: 'Lora';
}*/

/*PROGRESS BARS*/
/*-------------*/

.progress-label {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.progress {    
    height: 5px;
    background-color: #f5f5f5;
}

.progress-bar {
    color: #ffffff;
    background-color: #555;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.pull-left{float:left}
.pull-right{float:right}
