@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #69606b;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  font-family: "Raleway", Arial, sans-serif;
  overflow-x: hidden;
}

/*Intro Title Section*/

.intro {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  /*background: url("../img/bg-lrg.jpg") no-repeat center center fixed;*/
  background: url("../img/bg-lrg_small.jpg") no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro::before {
  width: 100%;
  height: 100%;
  background-color: rgba(79,77,77,0.44);
}

.intro::before, .intro::after {
  content:'';
  position:absolute;
  z-index: 0;
}

.intro-body {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}

.intro-body h1 {
  color: #fff;
  font-weight: 600;
  font-size: 4.5em;
  margin: 0 auto;
  padding: 0 0 0.2em;
}

.intro-text {
  font-size: 18px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height:1.6em;
}

/* "Scroll Down" Button - Idea 1 */

button {
  position: fixed;
  bottom: 0px;
  left: 50%;
  z-index: 1;
  display: block;
  margin-left: -0.3em;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 3em;
  content: 'view more';
}

/* Bouncing Panels ? - Idea 2 */