@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Pacifico);
@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Oleo+Script+Swash+Caps|Lobster+Two|Press+Start+2P);

html {
  background-color: #ffffff;
 }

body {
 	width: 80%;
 	margin:0 auto;
 }

#content{
	overflow: auto;
	
}

li {
	display: inline;
	padding: 0.5em;
}

#header {
	color: #efefef;
 }

a {
	text-decoration: none;
}

a:link {
	color: #efefef;s
}

a:hover {
	color: #FF0066;
}

a:visited {
	color: #DB2E8A;
}

 #nav {
 	font-family:'Montserrat', verdana, sans-serif;
	background-color: black;
	padding: 0.5em 0;
	text-align: center;
 }

#landing-img {
	text-align: center;
	height: 29em;
	padding-top: 1em;
	background-color: black;
	position:relative;
}

h1 {
	/*text-align: center;*/
	position:absolute;
	top: 280px;
	left: 0px;
	width: 50%;
	font-family: 'Pacifico';
	letter-spacing: -1;
	/*font-family: 'Montserrat';*/
	font-size: 50pt;
   	font-weight: bold;
   	color: #F20574;
   	/*background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding-bottom: 30;*/
   	
}

h2 {
	position: absolute;
	color: #efefef;
	top: 410px;
	left: 50px;
	font-size: 18px;
	font-family: 'Montserrat';
	letter-spacing: -1;
}

/*.smaller-font {
	color: black;
	font-family: 'GrandHotelRegular'; 
	font-size: 20pt;
}*/

#footer {
	color: #efefef;
	background-color: black;
	padding: 0.5em 0;
	text-align: center;
	font-family: 'Montserrat', verdana, sans-serif;
}

#nav, #landing-img, #footer {
	margin: 1%;
}

#copyright {
	font-size: 0.5em;
}